.section {
    width: 100%;
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 30vw;
    border-radius: 3vh;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9,
        -20px -20px 60px #ffffff;
    padding: 0 3vw;
}

.headingSection {
    text-align: left;
}

.title,
.message {
    font-family: "Nunito", sans-serif;
    color: #171717;
}

.title {
    margin-top: 3vh;
    font-size: 5vh;
}

.message {
    margin-top: 0.5vh;
    font-size: 2.2vh;
}

.labelSection {
    width: 100%;
    padding: 3vh 0 0;
}

.labels {
    margin: 1.5vh 0;
}

.input {
    width: 100%;
    font-size: 2vh;
    font-weight: 350;
    font-family: "Ubuntu", sans-serif;
    border-radius: 2vw;
    padding: 1.25vh 1.25vw;
    border: 0.12vw solid #171717;
    outline: none;
}

.input:focus {
    border: 0.12vw solid #ff5722;
}

.forgetPassword {
    font-size: 2.1vh;
    font-family: "Ubuntu", sans-serif;
    text-align: right;
    color: #ff5722;
    transition: 0.3s;
    text-decoration: none;
}

.forgetPassword:hover {
    transform: scale(1.05);
}

.btnSection {
    padding: 3vh 0 3vh;
}

.btn {
    font-size: 2.1vh;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    border: none;
    padding: 2vh;
    width: 100%;
    border-radius: 3vw;
    border: 0.12vw solid #171717;
    background-color: #171717;
    color: #f2f2f2;
    transition: 0.3s ease-in;
}

.btn:hover {
    border: 0.12vw solid transparent;
    background: linear-gradient(45deg, #FF5722, #FF7E22);
    border-image: linear-gradient(45deg, #FF5722, #FF7E22);
}

.btn:focus {
    background-color: transparent;
    color: #ff5722;
    border: 0.12vw solid #ff5722;
}

.container {
    width: 100%;
    margin-top: 2vh;
    font-family: "Ubuntu", sans-serif;
}

.heading {
    text-align: center;
    opacity: 0.6;
}

.iconsSection {
    margin-top: 1vh;
    display: flex;
    justify-content: center;
}

.iconContain {
    margin: 2vh 0 5vh;
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.icon {
    padding: 10px;
    font-size: 5vh;
    color: #f2f2f2;
    border-radius: 50%;
    background-color: #171717;
    transition: 0.4s;
}

.icon:hover {
    background: linear-gradient(45deg, #FF5722, #FF7E22);
    transform: scale(1.2);
}

.signupContainer {
    margin-top: 36px;
    width: 30vw;
    border-top: 1px solid #d9d9d9;
}

.headingSign {
    color: #d9d9d9;
    font-family: "Nunito", sans-serif;
    text-align: center;
    margin-top: 20px;
}

.signupbtn {
    padding: 3vh 0 3vh;
}

.signbtn {
    font-size: 2.1vh;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    border: none;
    padding: 2vh;
    width: 100%;
    border-radius: 3vw;
    border: 0.12vw solid #171717;
    background-color: #171717;
    color: #f2f2f2;
    transition: 0.3s ease-in;
}

.signbtn:hover {
    border: 0.12vw solid transparent;
    background: linear-gradient(45deg, #FF5722, #FF7E22);
    border-image: linear-gradient(45deg, #FF5722, #FF7E22);
}

.signbtn:focus {
    background-color: transparent;
    color: #ff5722;
    border: 0.12vw solid #ff5722;
}