.btnSection {
    width: 100%;
    margin-top: 4vh;
}

.btnContain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    background-color: #f2f2f2;
    border-radius: 2vw;
}

.minusBtn,
.addBtn {
    padding: 1.5vh 1.5vw;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showQuantity {
    text-align: center;
    width: 2vw;
    font-family: "Roboto Condensed", sans-serif;
}


.minusIcon,
.addIcon {
    font-size: 2.5vh;
}