.container {
    width: 100vw;
    background-color: #ffffff;
    padding: 5vh 5vw;
    display: flex;
}


.right {
    width: 40vw;
    padding: 0 1.5vw;
}

.productName {
    color: #171717;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 3.5vh;
}

.priceRow {
    font-family: "Roboto Condensed", sans-serif;
    border-top: 0.1vw solid lightgray;
    border-bottom: 0.1vw solid lightgray;
    margin-top: 3vh;
    padding: 3vh 0;
    font-size: 3.5vh;
    color: #171717;
}

.mrpPrice {
    margin-top: 1vh;
    color: #17171791;
    font-size: 1.7vh;
}

.realPrice {
    text-decoration: line-through;
}

.tax {
    color: #171717;
    font-size: 2vh;
    margin-top: 1vh;
    font-weight: 400;
}

.colorSection {
    width: 100%;
    padding: 2vh 0;
    border-bottom: 0.1vw solid lightgray;
}

.colorHeading {
    color: #171717;
    font-size: 2.5vh;
    font-weight: 400;
    font-family: "Roboto Condensed", sans-serif;
}

.colorRow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1vh;
}


.buttonSection {
    width: 100%;
    margin-top: 2.5vh;
    display: flex;
    justify-content: space-evenly;
}

.button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #fff;
    --button_outline_color: #000000;
    font-size: 2vh;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

.button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

.button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}

/* styles.module.css */

.cartButton {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #fff;
    --button_outline_color: #007bff;
    font-size: 2vh;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}

.cartButton_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

.cartButton:hover .cartButton_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

.cartButton:active .cartButton_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}


.productContainer {
    margin-top: 3vh;
}

.productDetailsSection {
    display: flex;
    width: 100%;
    padding-bottom: 2vh;
    border-bottom: 0.1vw solid lightgrey;
}

.productHeading {
    width: 90%;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 3vh;
}

.iconsProduct {
    width: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.productIcon {
    font-size: 2.5vh;
}

.tableContainer {
    width: 100%;
    margin-top: 3vh;
    overflow: hidden;
    transition: max-height 0.4s ease-in;
    max-height: 0;
}

.open {
    max-height: 150vh;
}

.close {
    max-height: 0;
}

.table {
    width: 100%;
    font-family: "Roboto Condensed", sans-serif;
    border-collapse: separate;
    border-spacing: 0;
    border: 0.1vh solid #e2e2e2;
    margin-bottom: 3vh;
}

.tableRow {
    background-color: #f2f2f2;
}

.tableRow:nth-child(even) {
    background-color: #ffffff;
}

.rowHeading,
.rowData {
    text-align: left;
    padding: 1vh;
    border: none;
}

.rowHeading {
    font-family: "Roboto Condensed", sans-serif;
    color: #171717;
    font-size: 2vh;
    font-weight: 400;
}

.rowData {
    font-family: "Roboto Condensed", sans-serif;
    color: #171717;
    font-size: 2vh;
    font-weight: 300;
}