.navbar {
    background-color: #171717;
    width: 100%;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 2.5vh 5vw;
    z-index: 8;
    position: relative;
}

.navbar-left {
    width: 40vw;
    display: flex;
    align-items: center;
    z-index: inherit;
}

.title {
    font-size: 5vh;
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: inherit;
    text-transform: uppercase;
    color: #f2f2f2;
}

.title:hover {
    color: #ff5722;
}

#nav-part2 {
    gap: 1vw;
    display: flex;
    align-items: center;
    z-index: inherit;
}

#nav-part2 h4 {
    padding: 1.5vh 1.5vw;
    border: 0.2vh solid #f2f2f2c7;
    border-radius: 3vh;
    font-weight: 500;
    color: #f2f2f2;
    transition: all ease 0.4s;
    position: relative;
    font-size: 2vh;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #f2f2f2;
    left: 0;
    bottom: -100%;
    border-radius: 3vh;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 .nav-link {
    color: #f2f2f2;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

.nav-link {
    font-family: "Montserrat", sans-serif;
}

#nav-part2 h4:hover .nav-link {
    color: #222831;
}

.navbar-menu {
    display: none;
}

.shop-menu {
    display: none;
    position: absolute;
    z-index: 7;
    width: 100%;
    height: 0;
    /* Initially set height to 0 */
    background-color: transparent;
    top: 11vh;
    left: 0;
    overflow: hidden;
    opacity: 0;
    /* Hide overflow content */
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out, display 0.1s 0.4s;
    /* Transition for height change */
    padding: 3vh;
}

.support-trigger:hover+.shop-menu {
    height: auto;
    opacity: 1;
    /* Increase height on hover */
    display: block;
    /* Show the menu */
    transition-delay: 0.2s;
    /* Add delay for transition */
}

.menu-container {
    width: 100%;
    background-color: #222831;
    padding: 5vh;
    border-radius: 2vh;
}

.menu-heading {
    width: 10vw;
    color: #f2f2f2;
    font-size: 3vh;
    font-family: "Montserrat", sans-serif;
    padding: 2vh 2vw;
    border-right: 0.1vh solid #f2f2f2;
}