.sizeContainer {
    margin-top: 2vh;
}

.heading {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 350;
    font-size: 2.3vh;
}

.sizeNumberContain {
    margin-top: 1.5vh;
}

.sizeNumber {
    color: #171717;
    font-size: 2.3vh;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 350;
    padding: 1vh 1vw;
    border: 0.1vh solid lightgray;
    margin: 1vh 1.5vw 1vh 0;
}

.sizeNumber:hover {
    border: 0.1vh solid #4385F5;
    outline: 0.1vh solid #4385F5;
}