.container {
    padding: 0 5vw;
}

.mySwiper {
    width: 100%;
    height: 89vh;
}

.img {
    width: 100%;
    height: 100%;
}

.heading {
    font-size: 4vh;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    color: #171717;
}