.container {
    width: 100vw;
    padding: 7vh 5vw;
}

.heading {
    font-family: "Nunito", sans-serif;
    font-size: 4vh;
    font-weight: 600;
    color: #171717;
    margin-bottom: 5vh;
}

.letters {
    font-family: "Major Mono Display", monospace;
    font-size: 5vh;
    color: #171717;
}

.new-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-row:hover>.img:not(:hover) {
    filter: grayscale(100%) blur(2px);
    transform: scale(0.95);
}

.img {
    transition: 0.4s;
}

.img:hover {
    transform: scale(1.05);
}

.big-banner-img {
    width: 40vw;
    height: 42vh;
    border-radius: 1vw;
}

.small-banner-img {
    width: 24vw;
    height: 42vh;
    border-radius: 1vw;
}

@media only screen and (min-width: 320px) and (max-width:479px) {
    .new-row {
        flex-wrap: wrap;
    }

    .big-banner-img {
        width: 100%;
        margin-bottom: 3vh;
    }

    .small-banner-img {
        width: 48.5%;
    }
}

@media only screen and (min-width: 480px) and (max-width:599px) {
    .new-row {
        flex-wrap: wrap;
    }

    .big-banner-img {
        width: 100%;
        margin-bottom: 3vh;
    }

    .small-banner-img {
        width: 48.5%;
    }
}

@media only screen and (min-width: 600px) and (max-width:767px) {

    .big-banner-img,
    .small-banner-img {
        height: 37vh;
    }
}