.productName {
    color: #171717;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 3.5vh;
}

.priceRow {
    font-family: "Roboto Condensed", sans-serif;
    border-top: 0.1vw solid lightgray;
    border-bottom: 0.1vw solid lightgray;
    margin-top: 3vh;
    padding: 3vh 0;
    font-size: 3.5vh;
    color: #171717;
}

.mrpPrice {
    margin-top: 1vh;
    color: #17171791;
    font-size: 1.7vh;
}

.realPrice {
    text-decoration: line-through;
}

.tax {
    color: #171717;
    font-size: 2vh;
    margin-top: 1vh;
    font-weight: 400;
}